
@media (max-width: 600px) {
    main {
        width: 100%       
      }
      
    body {
        margin: 0px;
        background-color: rgb(255, 250, 226);
      }
      
      ul {
        display: flex;
        list-style-type: none;
        font-size: 20px;
      }
      
      li {
        font-family: Arial;
        margin-top: 20px;
        margin-left: 20px;
        text-align: center;
      }
      
      #title {
        margin-right: 3em;
      }
      a {
          margin-left: 0.9em;
          text-decoration: none;
      }
      
      img.logga {
        width: 20%;
        height: 20%;
        margin-top: 5%;
        margin-left: 40%;
      }

      div {
       color: yellow;
       text-decoration: none; 
      }
      body {
        font-family: Arial, Helvetica, sans-serif;
      }
      
      .mobile-container {
        max-width: 480px;
        margin: auto;
        background-color: rgb(255, 250, 226);
        color: white;
        border-radius: 10px;
      }
      
      .topnav {
        overflow: hidden;
        background-color: rgb(255, 147, 143);
        position: relative;
      }
      
      .topnav #myLinks {
        display: none;
      }
      
      .topnav a {
        color: rgb(245, 255, 127);
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      
      .topnav a.icon {
        background: rgb(255, 115, 115);
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
      
      .topnav a:hover {
        background-color: rgb(255, 145, 142);
        color: rgb(242, 255, 150);
      }
      
      .active {
        background-color: rgb(255, 147, 143);
        color: white;
      }
      div.bakgrund {
        background-color: rgb(255, 201, 199);
        height: 600px;
        padding-top: 10%;
        border-color: rgb(255, 201, 199);
      } 
      div.ruta {
        background-color:white;
        height: 400px;
        width: 80%;
        margin-left: 10%;
      }
      img.Självporträtt {
      height: 28%;
      width: 28%;
      border-radius: 50%;
      margin-left: 36%;
      margin-top: 10%;
      }
    }    

@media (min-width: 768px) {
    main {
            width: 100%
    }
}