
@media (max-width: 600px) {
    main {
        width: 100%       
      }

    body {
        margin: 0px;
        background-color: rgb(255, 201, 199);
      }
      div.contactme2 {
        display: none;
      }

      ul {
        display: flex;
        list-style-type: none;
        font-size: 20px;
      }

      li {
        margin-top: 20px;
        margin-left: 20px;
        text-align: center;
      }
      
      a {
          margin-left: 0.9em;
          text-decoration: none;
      }
      a:hover {
        color: rgb(127,153, 255);
      }
      a:link, a:visited {
        color: rgb(127,153, 255);
      }
      
      img.logga {
        width: 20%;
        height: 20%;
        margin-top: 5%;
        margin-left: 40%;
      }

      div {
       color: yellow;
       text-decoration: none; 
      }
      body {
        font-family: 'Lato', sans-serif;
      }
      div.bild {
        text-align: center;
      }
      
      .mobile-container {
        max-width: 100%;
        margin: auto;
        background-color: rgb(255, 250, 226);
        color: white;
        border-radius: 10px;
      }
      
      .topnav {
        overflow: hidden;
        background-color: rgb(255, 147, 143);
        position: relative;
      }
      
      .topnav #myLinks {
        display: none;
      }
      
      .topnav a {
        color: rgb(245, 255, 127);
        padding: 3.5% 4.3%;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      
      .icon {
        background: rgb(255, 115, 115);
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
      
      .topnav a:hover {
        background-color: rgb(255, 145, 142);
        color: rgb(242, 255, 150);
      }
      
      .active {
        background-color: rgb(255, 147, 143);
        color: white;
      }
      .bakgrund {
        background-color: rgb(255, 201, 199);
        height: 100%;
        padding-top: 10%;
        border-color: rgb(255, 201, 199);
      } 
      div.ruta {
        background-color:white;
        width: 78%;
        margin-left: 10%;
      }
      img.Självporträtt {
      height: 40%;
      width: 40%;
      border-radius: 50%;
      margin-top: 10%;
      }
      h1 {
      color: black;
      font-size: 10vw;
      margin: 5%;
      text-align: center;
      }
      h1.Aboutme {
        color: black;
        font-size: 10vw;
        margin: 5%;
        text-align: center;
        display: none;
      }
      h2 {
        color: black;
        font-size: 4vw;
        margin-right: 5%;
        margin-bottom: 0;
        margin-left: 5%;
        padding: 8%;
      } 
      div.loggabar {
        width: 100%;
        background-color: rgb(255, 250, 226);
      }
      div.contactme {
        width: 78%;
        text-align: center;
        margin-left: 10%;
        height: 2.8em;
        background-color: rgb(250, 255, 115);
        padding-top: 5%;
      }
      h3 {
        color: rgb(86,153, 255);
        font-size: 5vw;
        margin: 0;
      }
      div.text {
        height: 45%;
        width: 40%;
        width: auto;
        display: none;
      }
      a.contact {
        margin-bottom: 60%;
        margin-left: 0;
      }
      div.text2 {
        display: none;
      }
      div.Educ {
        display: none;
      }
      div.Edu {
        display: none;
      }
      div.Edutext {
        display: none;
      }
    }    

@media (min-width: 600px) {
    main {
            width: 100%
    }
    body {
      background-color: rgb(255, 201, 199);
      margin: 0;
      font-family: 'Lato', sans-serif;
    }
    div.loggabar {
      width: 100%;
      background-color: white;
    
    }      
    
    div.Educ {
        float: right;
        margin-top: -17.8%;
        width: 100%;
      }
      div.text {
        width: 40%;
      }

    div.text2 {
      float: right;
      width: 40%;
      margin-top: -13.8%;
      width: 50%;
    }

    img.logga {
      width: 9%;
      height: 9%;
      margin-top: 2%;
      margin-left: 10%;
}
  img.Självporträtt {
  height: 11%;
  width: 11%;
  border-radius: 50%;
  margin-top: -30%;
  margin-bottom: 3.5%;
}
.topnav #myLinks {
  display: none;
}

div.topnav {
background-color: rgb(255, 147, 143);
padding: 1.7%;
}
a.active{
  display: none;
}

a {
  visibility:hidden;
}
div.contactme{
  display: none;
}
a.contact {
  display: none;
}
div.contactme2 {
  width: 20%;
  text-align: center;
  padding: 0.4%;
  border-radius: 100px;
  background-color: rgb(250, 255, 115);
  float: right;
  margin-top: -6.6%;
  margin-right: 5%;
}

h3 {
  color: rgb(127,153, 255);
  font-size: 2.2vw;
  margin: 0;
}
a.contact2 {
  visibility: visible;
  text-decoration: none;
  color: rgb(66,114, 255)
}
div.ruta {
    background-color: white;
    margin-left: 7%;
    margin-right: 7%;
    height: 68vh;
}
h1 {
  padding: 1%;
  width: 43%;
  text-align: center;
  margin: 0;
  margin-top: 5%;

}
h2 {
  padding: 4%;
  margin: 0;
}
div.bild {
  text-align: center;
}
h1.Aboutme {
display: none;

}
div.text {
display: none;
}
div.Educ {
  display: none;
}
div.text2 {
  display: none;
}
div.flexbox {
    padding: 0;
    margin: 0;
    list-style: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      text-align: center;
  }
  div.Edutext {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-bottom: 1px solid rgb(255, 115, 115);
  }
  div.Edu {
    width: 40%;
    margin-top: 6.5%;
    margin-right: 5%;
    margin-left: 5%;
    border-top: 1px solid rgb(255, 115, 115);
  }
  div.Aboutme {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 6.5%;
    border-top: 1px solid rgb(255, 115, 115);
    
  }
  div.Aboutmetext {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-bottom: 1px solid rgb(255, 115, 115);
  }
  div.Edu2 {
    width: 100%;
  }
  div.Edu2text {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
  }
  div.Edutext2 {
    width: 100%;
  }
}
