
@media (max-width: 600px) {
    main {
        width: 100%       
      }
      
    body {
        margin: 0px;
        background-color: rgb(255, 201, 199);
      }
      
      ul {
        display: flex;
        list-style-type: none;
        font-size: 20px;
      }

      li {
        font-family: 'Lato', sans-serif;
        margin-top: 20px;
        margin-left: 20px;
        text-align: center;
      }
      
      #title {
        margin-right: 3em;
      }
      a {
          margin-left: 0.9em;
          text-decoration: none;
      }
      a:hover {
        color: rgb(127,153, 255);
      }
      a:link, a:visited {
        color: rgb(127,153, 255);
      }
      
      img.logga {
        width: 20%;
        height: 20%;
        margin-top: 5%;
        margin-left: 40%;
      }

      div {
       color: yellow;
       text-decoration: none; 
      }
      body {
        font-family: 'Lato', sans-serif;
      }
      
      .mobile-container {
        max-width: 100%;
        margin: auto;
        background-color: rgb(255, 250, 226);
        color: white;
        border-radius: 10px;
      }
      
      .topnav {
        overflow: hidden;
        background-color: rgb(255, 147, 143);
        position: relative;
      }
      
      .topnav #myLinks {
        display: none;
      }
      
      .topnav a {
        color: rgb(245, 255, 127);
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      
      .topnav a.icon {
        background: rgb(255, 115, 115);
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
      
      .topnav a:hover {
        background-color: rgb(255, 145, 142);
        color: rgb(242, 255, 150);
      }
      
      .active {
        background-color: rgb(255, 147, 143);
        color: white;
      }
      div.bakgrund {
        background-color: rgb(255, 201, 199);
        height: 100%;
        padding-top: 10%;
        border-color: rgb(255, 201, 199);
      } 
      div.ruta {
        background-color:white;
        height: 26em;
        width: 80%;
        margin-left: 10%;
      }
      img.Självporträtt {
      height: 40%;
      width: 40%;
      border-radius: 50%;
      margin-left: 32%;
      margin-top: 10%;
      }
      h1 {
      color: black;
      font-size: 10vw;
      margin: 5%;
      text-align: center;
      }
      h2 {
        color: black;
        font-size: 4vw;
        margin: 10%;
      } 
      div.loggabar {
        width: 100%;
        background-color: rgb(255, 250, 226);
      }
      div.contactme {
        width: 80%;
        text-align: center;
        margin-left: 10%;
        height: 2.8em;
        background-color: rgb(242, 255, 150);
        padding-top: 5%;
      }
      h3 {
        color: rgb(127,153, 255);
        font-size: 5vw;
        margin: 0;
      }
      div.text {
        height: 45%;
      }
      a.contact {
        margin-bottom: 60%;
      }
      div.tomrum {
        height: 20px;
      }
    }    

@media (min-width: 768px) {
    main {
            width: 100%
    }
}